* {
    margin: 0;
    padding: 0;
 }

/*************
 Standard Elements
*/
body {
  background-image: url(/images/gradient-brasil.png);
  background-repeat: repeat-x;
}

body, div, input {
  font-family: "Lucida Grande", "Verdana", sans-serif;
  font-size: 0.95em;
 }

h1, h2, h3 {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 100;
  padding-left: 5px;
 }

label {
	display:				block;
	color:					#736196;
	letter-spacing:			.05em;
	margin-right:			.5em;
	clear:					left;
}


h1#masthead {
  background: url(/images/rails-podcast-masthead-brasil.png) no-repeat;
  width: 780px;
  height: 150px;
  line-height: 500px; overflow: hidden;
  cursor: pointer; cursor: hand;
}

ul {
  list-style-type:  none;
}

li {
  margin-bottom: 3px;
  padding-bottom: 3px;
  border-bottom: 1px dotted #999;
}

p { 
 font-size: 0.9em;
 padding: 5px;
 padding-bottom: 10px;
}

a:link, a:visited {
  text-decoration: none;
  color: #933;
  font-weight: bold;
 }
a:hover, a:active {
  background-color: #e0e0e0;
 }

div.small {
  text-align: center;
 }

div#content,
div#footer {
  margin-bottom: 10px;
  margin-left: 30px;
 }

div#content {
  float: left;
 }

div#footer {
  clear: left;
  font-size: 0.8em;
  padding-top: 2em;
  padding-left: 10px;
}

ul#podcasts {
  margin-top: 15px;
}

#podcast_files li {
	border-bottom: 1px none;
}

#podcast_files {
  padding-top:	10px;
  border-bottom: 1px dotted #999;
  padding-bottom: 20px;
}


