ul {
  list-style-type:  none;
}

#podcast_files li {
	border-bottom: 1px none;
}

#podcast_files {
  padding-top:	10px;
  border-bottom: 1px dotted #999;
  padding-bottom: 20px;
}

.home_link {
	background:   transparent
}


