<h1>Listing Podcasts</h1>

<%= link_to 'New Podcast', new_object_url %>

<ul id="podcasts">
  <%- @podcasts.each do |podcast|%>
	<li><%= link_to "#{h podcast.number.to_s} - #{podcast.title}", edit_object_url(podcast) %> :: <%= link_to "delete", object_url(podcast), :confirm => 'Are you sure?', :method => :delete %>
		<p><%= h podcast.description%></p>
	</li>
  <% end %>
</ul>

