<div class="main"> <h4> Podcast não encontrado, verifique o link na página principal e tente novamente</h4> 

<%= link_to "Voltar", :controller => "podcasts", :action => "index" %> 
<br>
<br>
</div>


