<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>Ruby on Rails Podcast</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

    <!-- <link href='http://feeds.feedburner.com/rubyonrailspodcast' rel='alternate' title='RSS' type='application/rss+xml' /> -->

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag :defaults %>
	<%= auto_discovery_link_tag(:rss, {:controller=> "rss"}, {:title=>"RSS Podcast"})%>
    
  </head>
  <body>
    <a href="/"><h1 id="masthead">Ruby on Rails Podcast</h1></a>
  
    <div id="content">
	<%= yield %>
    </div>
    
    <div id="footer">
	Aqui entra um rodapé.
    </div>    

  </body>
</html>